.Carousel-img {
    width: 100%;
    height: 700px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 768px) {
    .Carousel-img {
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}