.signup-container {
     background-image: url("../image/loginbgimg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(233, 152, 21);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container .container {
    width: 400px;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.input-box {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.input-box:focus {
    border-color: #007bff;
}

.button-box {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 15px;
}

.button-box:hover {
    background: #0056b3;
}

.login-text {
    margin-top: 20px;
}

.login-text a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}